<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASE PROJECT</title>

    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        main {
            background: #f1f6f8;
            padding: 10px;
            border-radius: 8px;
        }
        a {
            text-decoration: none;
            display: inline-block;
            border: 1px solid #1976D2;
            padding: 12px;
            margin-top: 15px;
            border-radius: 4px;
            background: #1976D2;
            font-weight: 700;
            transition: .5s;
            color: #fff;
        }
        a:hover {
            filter: brightness(.7);
        }
        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 25px;
        }
        footer img {
            margin-top: 8px;
        }
    </style>
</head>

<body>
    <main>
        <h2>Recuperação de senha</h2>

        <section>
            <p>Olá <strong>{{name}}</strong>.</p>
            <p>
                Este é um email de recuperação de senha na plataforma <strong>BASE PROJECT</strong>,
                caso não tenha sido você que fez o pedido de recuperação, por favor, <u>ignore este email</u>.
            </p>
            <p>
                Agora, se deseja realmente recuperar sua senha de acesso à plataforma,
                clique no botão abaixo e siga as instruções para o cadastro de uma nova senha.
            </p>

            <a href={{link}} target="_blank">
                RECUPERAR SENHA
            </a>
        </section>

        <br/><br/><br/>

        <footer>
            <span>Atenciosamente, equipe BASE PROJECT.</span>

            <br/><br/>

            <img width="80px" height="80px" src="https://conversa-aqui.s3.sa-east-1.amazonaws.com/logos/logo_transparent.png" alt="" srcset="">
        </footer>
    </main>
</body>

</html>